Repository redhat-hpc/slinkyproject-containers: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-bake-check, build::slurm, build::manifest, release::slurm, release::manifest

docker-bake-check:
  stage: check
  variables:
    BAKE_IMPORTS: --file docker-bake.hcl --file $VERSION/$FLAVOR/slurm.hcl
  parallel:
    matrix:
    - VERSION:
      - master
      - '25.05'
      FLAVOR:
      - rockylinux9
      - ubuntu24.04
  script:
  - cd ./schedmd/slurm/
  - docker bake $BAKE_IMPORTS --progress=plain --check core
  ...

build::slurm:
  variables:
    REGISTRY: $CI_REGISTRY_IMAGE/$ARCH
    BAKE_TARGET: all
    BAKE_IMPORTS: --file docker-bake.hcl --file $VERSION/$FLAVOR/slurm.hcl
  before_script:
  - docker info
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - apk update && apk upgrade
  ...

build::manifest:
  variables:
    REGISTRY: $CI_REGISTRY_IMAGE
    BAKE_TARGET: all
    BAKE_IMPORTS: --file docker-bake.hcl --file $VERSION/$FLAVOR/slurm.hcl
  before_script:
  - docker info
  - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - apk update && apk upgrade
  ...

release::slurm:
  stage: release
  variables:
    REGISTRY: $DOCKER_REGISTRY/$ARCH
    BAKE_TARGET: all
    BAKE_IMPORTS: --file docker-bake.hcl --file $VERSION/$FLAVOR/slurm.hcl
  before_script:
  - - docker info
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  ...

release::manifest:
  stage: manifest
  variables:
    REGISTRY: $DOCKER_REGISTRY/$ARCH
    BAKE_TARGET: all
    BAKE_IMPORTS: --file docker-bake.hcl --file $VERSION/$FLAVOR/slurm.hcl
  before_script:
  - - docker info
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  ...

adding compatibility for using UBI instead of CentOS Stream
  schedmd/slurm/25.05/centos9-ohpc/Dockerfile
Due: docker-bake-check

bugfix for centos9-ohpc 25.11
  .github/workflows/build-ohpc-images.yml
  schedmd/slurm/25.11/centos9-ohpc/Dockerfile
Due: docker-bake-check

fix to using buildx for bake still
  .github/workflows/build-ubi-images.yml
Due: none

adding authselect
  schedmd/slurm/25.11/centos9-ohpc/Dockerfile
Due: docker-bake-check

fix: update build stage name
  .github/workflows/build-ohpc-images.yml
Due: none

moving to more sustainable model with the images
  .github/workflows/build-ohpc-images.yml
  openhpc/el9/Dockerfile
  openhpc/el9/Dockerfile.cuda
  schedmd/slurm/25.11/centos9-ohpc/Dockerfile
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.conf
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.d/fakesystemd-slurm.ini
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.d/fakesystemd.ini
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.d/sackd.ini
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.d/slurmctld.ini
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.d/slurmd.ini
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.d/sshd.ini
  schedmd/slurm/25.11/centos9-ohpc/files/etc/supervisord.d/sssd.ini
  schedmd/slurm/25.11/centos9-ohpc/files/usr/local/bin/fakesystemd.sh
  schedmd/slurm/25.11/centos9-ohpc/files/usr/local/bin/login-entrypoint.sh
  schedmd/slurm/25.11/centos9-ohpc/files/usr/local/bin/sackd-entrypoint.sh
  schedmd/slurm/25.11/centos9-ohpc/files/usr/local/bin/slurmctld-entrypoint.sh
  schedmd/slurm/25.11/centos9-ohpc/files/usr/local/bin/slurmd-entrypoint.sh
  schedmd/slurm/25.11/centos9-ohpc/slurm.hcl
  schedmd/slurm/25.11/ubi9/Dockerfile
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.conf
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.d/fakesystemd-slurm.ini
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.d/fakesystemd.ini
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.d/sackd.ini
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.d/slurmctld.ini
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.d/slurmd.ini
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.d/sshd.ini
  schedmd/slurm/25.11/ubi9/files/etc/supervisord.d/sssd.ini
  schedmd/slurm/25.11/ubi9/files/usr/local/bin/fakesystemd.sh
  schedmd/slurm/25.11/ubi9/files/usr/local/bin/login-entrypoint.sh
  schedmd/slurm/25.11/ubi9/files/usr/local/bin/sackd-entrypoint.sh
  schedmd/slurm/25.11/ubi9/files/usr/local/bin/slurmctld-entrypoint.sh
  schedmd/slurm/25.11/ubi9/files/usr/local/bin/slurmd-entrypoint.sh
  schedmd/slurm/25.11/ubi9/slurm.hcl
  ubi/ubi9/Dockerfile
Due: docker-bake-check

fix gh action
  .github/workflows/build-ohpc-images.yml
Due: none

update action some more to do ohpc second
  .github/workflows/build-ohpc-images.yml
Due: none

fix
  .github/workflows/build-ohpc-images.yml
Due: none

cleanup
  schedmd/slurm/docker-bake.hcl
Due: docker-bake-check, build::slurm, build::manifest, release::slurm, release::manifest

fix
  openhpc/el9/Dockerfile
Due: none

updating openhpc overlay
  openhpc/el9/Dockerfile
  openhpc/el9/fix-spack-packages.sh
Due: none

update paths
  .github/workflows/build-ohpc-images.yml
Due: none

fixing again
  .github/workflows/build-ohpc-images.yml
Due: none

Path conditions:
  docker-bake-check: any of: schedmd/slurm/**/*
  build::slurm: any of: schedmd/slurm/**
  build::manifest: any of: schedmd/slurm/**
  release::slurm: any of: schedmd/slurm/**, .gitlab-ci.yml, .gitlab/ci/**/*.yml
  release::manifest: any of: schedmd/slurm/**, .gitlab-ci.yml, .gitlab/ci/**/*.yml
